/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* PAGE STYLE */
*
*::before,
*::after {
    box-sizing:border-box;
}
a {
    text-decoration: none;
}
body {
	font-family:"Roboto", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: #9b9b9b;
}
.container {
    max-width: 1370px;
    margin: 0 auto;
    padding: 0 32px;
    width: 100%;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-start {
    justify-content:flex-start;
}
.header {
    color: #fff;
    padding: 16px;
}
.header-nav {
    margin-left: 156px;
}
.hero {
    background-image: url(../media/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 48px;
}
.text-content {
    text-align: center;
    margin: 48px 0;
}
.box {
    width: 40%;
    height: 200px;
    border: 1px solid black;
    padding: 32px 30px;
}
.box-one,.box-three {
    background-color: #69C6BA;
    position: absolute;
    right: 106px;
}
.box-two {
    background-color: #C66995;
    position: absolute;
    left: 116px;
}
.article-head {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
}
.article-head-two {
    font-size: 24px;
    color: black;
}
.article-head-two strong {
    font-weight: 800;
}
.article-img {
    position: relative;
}
.article-content {
    padding: 32px;
}